.home-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    border: 2px solid white;
}

#website-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

h1 {
    display: inline-block;
    font-size: 70px;
    font-weight: 600;
    padding-top: 35px;
    padding-left: 25px;
    padding-bottom: 5px;
    margin: 0;
}

h2 {
    padding-top: 15px;
    text-align: center;
    font-size: 35px;
}

h2.about {
    padding-top: 175px;
}

h3 {
    font-size: 23px;
    padding-top: 50px;
    padding-left: 150px;
}

.languages {
    padding-top: 35px;
    padding-left: 85px;
}

.languages p {
    display: flex;
    align-items: center; /* aligne verticalement les enfants */
    gap: 10px; /* espace entre l'icône et le texte */
    margin-bottom: 35px;
}

#logos {
    width: 35px;
    height: auto;
}

.separator {
    height: 3px;
    background-color: white;
    margin: 50px auto;
    width: 80%;
}

.portfolio {
    width: fit-content;
    margin-left: 85px; /* ou padding-left si tu préfères */
    text-align: center;
}
